.messageScreen {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    overflow: auto;
    padding-bottom: 1rem;
    padding-top: 10rem;
    background: none;
    position: absolute;
    bottom: 4rem;
    width:100vw;
    height:100vh;
  }

  .messageBar {
    display: flex;
    height: 3rem;
    background: none;
    width:100vw;
  }

  .sent {
    display: flex;
    color: white;
    background: black;
    padding: 0.5rem 1rem;
    margin: 0.2rem;
    border-radius: 0.3rem;
    border-bottom-left-radius:0rem;
    left: 1rem;
    position: absolute;
  }

  .recieved {
    display: flex;
    color: white;
    background: black;
    padding: 0.5rem 1rem;
    margin: 0.2rem;
    border-radius: 0.3rem;
    border-bottom-right-radius:0rem;
    right: 1rem;
    position: absolute;
  }