.messages {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    overflow: auto;
    padding: 1rem;
    background: none;
    position: absolute;
    bottom: 4rem;
  }
  .message {
    color: white;
    background: black;
    padding: 0.5rem 1rem;
    margin: 0.2rem;
    border-radius: 0.3rem;
  }