 footer.app-footer {
    height: 4rem;
    width: 100vw;
    border-top: 2px solid white;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.3);
    position: relative;
    flex-direction:column;
  }
  .text-input {
    width: 90vw;
    border: 1px solid white;
    height: 2rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    background: rgba(0, 0, 0, 0.603);
    color: white;
  }
  .send-button {
    background: white;
    border-radius: 2rem;
    border-width: 0.2rem;
    border-color: white;
    border-style: solid;
    height: 1.7rem;
    width: 1.7rem;
    cursor: pointer;
    right: 5vw;
    position: absolute;
    bottom: 1.15rem;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
  }
  .camera-button {
    background: white;
    border-radius: 2rem;
    border-width: 0.2rem;
    border-color: white;
    border-style: solid;
    height: 1.7rem;
    width: 1.7rem;
    cursor: pointer;
    left: 5vw;
    position: absolute;
    bottom: 1.15rem;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
  }